// Parent container
.flex-container {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  margin: 20px;
}

// Form container
.form-container {
  width: 50%;
  max-width: 400px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  background-color: #fff;
}

// Make form fields full width
.full-width {
  width: 100%;
}

// Error message
.error-message {
  color: red;
  margin-top: 10px;
}
